@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: CircularStd-Book;
  src: url("../public/fonts/CircularStd-Book.otf");
  font-weight: normal;
}

@font-face {
  font-family: CircularStd-Bold;
  src: url("../public/fonts/CircularStd-Bold.otf");
  font-weight: bold;
}

@font-face {
  font-family: CircularStd-Light;
  src: url("../public/fonts/CircularStd-Light.otf");
  font-weight: bold;
}

@font-face {
  font-family: CircularStd-Medium;
  src: url("../public/fonts/CircularStd-Medium.otf");
  font-weight: bold;
}

#contactbg {
  background-image: url('../public/Backgrounds/contact.jpg');
  background-position: top;
  background-size: cover;
}
body{
  overflow-x: hidden;
  /* font-family: Circular; */
}
#reels{
  scrollbar-width: none;
}
*{
  font-family: CircularStd-Book ;
  font-weight: normal;
}
h1{
  font-family: CircularStd-Bold ;
}
p{
  font-family: CircularStd-Book;
}

.our-Mission  h1, .Collaborations h1,
.About,#Donate
{
  font-size: xx-large;
}

.horror{
  animation-name:mymove ;
  animation-duration: 5s;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation-iteration-count: infinite;
}
@keyframes mymove {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360);
  }
}